@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome</h1>
                <h2>to our prototype</h2>
            </hgroup>
            <p>
                This software is not real and used only for presentation
            </p>
        </div>
    </section>
}
<h3>We offer the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Search for Therapist</h5>
        View, add, edit therapist. you can search therapist by name or by specialization.
        <br />
        <a href="~/Therapists">click here</a>
    </li>

    <li class="two">
        <h5>Add permanent drug to patient</h5>
        First log in as a doctor, then choose drug and patient and write perscription, <br /> 
        drug will add to the patinet permanent drugs.
        <br />
        <a href="~/PatientsPermanentDrugs">click here</a>
    </li>

</ol>
